<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include("header.ejs",{title:'首页',isshow:false})%>
    <h3> 欢迎,<%= who %>回来!</h3>
    <div class="main" ></div>


  </body>
</html>
